.hero-section {
  background-image: url('https://placehold.co/400');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

button {
  font-size: 1.2rem;
}
