<h1 class="mb-4">
  {{
    isEditMode
      ? "Modifica servizio aggiuntivo"
      : "Crea Nuovo servizio aggiuntivo"
  }}
</h1>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <input
      type="text"
      name="name"
      [(ngModel)]="service.name"
      #name="ngModel"
      placeholder="Nome"
      class="form-control"
      required
    />
    <div *ngIf="name.invalid && name.touched" class="text-danger">
      Nome del servizio obbligatorio
    </div>
  </div>

  <div class="form-group">
    <input
      type="number"
      name="unitPrice"
      [(ngModel)]="service.unitPrice"
      #unitPrice="ngModel"
      placeholder="Prezzo unitario"
      class="form-control"
      required
    />
    <div *ngIf="name.invalid && name.touched" class="text-danger">
      Prezzo del servizio obbligatorio
    </div>
  </div>

  <div class="form-group mt-3">
    <textarea
      class="form-control"
      #description="ngModel"
      name="description"
      [(ngModel)]="service.description"
      placeholder="Descrizione"
    ></textarea>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">
    {{ isEditMode ? "Modifica comodità" : "Aggiungi comodità" }}
  </button>
  <a routerLink="../" class="btn btn-secondary">Annulla</a>
</form>
