<div class="login-background">
  <div class="login-container">
    <h1>Login</h1>

    <form #form="ngForm" (ngSubmit)="login(form)">
      <div class="form-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="authData.email"
          #email="ngModel"
          placeholder="Inserire email"
          class="form-control"
          required
        />
        <div *ngIf="email.invalid && email.touched" class="text-danger">
          Email è obbligatoria e deve essere un'email valida.
        </div>
      </div>

      <div class="form-group mt-3">
        <input
          type="password"
          name="password"
          [(ngModel)]="authData.password"
          #password="ngModel"
          placeholder="Password"
          class="form-control"
          required
        />
        <div *ngIf="password.invalid && password.touched" class="text-danger">
          Password è obbligatoria.
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="form.invalid"
      >
        Accedi
      </button>

      <div class="register-link">
        <a [routerLink]="['/auth/register']">Registrati</a>
      </div>
    </form>
  </div>
</div>
