<div class="welcome-section text-center my-5 mx-auto">
  <h2>
    <span class="welcome-title">BENVENUTO</span>
    <span class="welcome-subtitle">NEL CUORE DELLA VALLE D'AOSTA</span>
  </h2>
  <div class="divider"></div>
  <p class="lead">
    La nostra struttura, ubicata nella <strong>Valle Centrale</strong>,
    precisamente nel comune di <strong>Aymavilles</strong>, a due passi dal
    meraviglioso <strong>castello</strong> e a soli
    <strong>7 km da Aosta</strong> e <strong>15 km da Cogne</strong>, è immersa
    nella campagna tra boschi e vigneti, il luogo ideale per rilassarsi ed avere
    comunque tutte le comodità nelle immediate vicinanze.
  </p>
  <button class="btn btn-secondary mt-4" [routerLink]="['rooms']">
    Scopri le Camere
  </button>
</div>
