<!-- Booking Form Section -->
<section class="booking-section py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="booking-form bg-dark text-white p-4 rounded">
          <div class="row">
            <div class="col-md-3">
              <label>Check-in Date</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="checkInDate"
              />
            </div>
            <div class="col-md-3">
              <label>Check-out Date</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="checkOutDate"
              />
            </div>
            <!--
            <div class="col-md-2">
              <label>Adults</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div> -->
            <div class="col-md-2 d-flex align-items-end">
              <button class="btn btn-primary w-100" (click)="search()">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
