<div class="services-section container my-5">
  <h2 class="text-center mb-4">I Nostri Servizi</h2>

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card text-center h-100">
        <div class="card-body">
          <i class="bi bi-house-fill service-icon"></i>
          <h5 class="card-title">Camere Confortevoli</h5>
          <p class="card-text">
            Camere dotate di riscaldamento, bagno privato con doccia,
            asciugacapelli e balcone. <br />
            <strong
              >Possibilità di richiedere numerosi servizi d’asporto con consegna
              direttamente in struttura.</strong
            >
          </p>
          <p>
            <strong style="color: #dc3545">Scopri il comfort e il relax</strong>
            che le nostre camere possono offrirti. <br />
            Siamo qui per garantirti un soggiorno indimenticabile!
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center h-100">
        <div class="card-body">
          <i class="bi bi-basket-fill service-icon"></i>
          <h5 class="card-title">Colazione Inclusa</h5>
          <p class="card-text">
            Una ricca colazione con i nostri prodotti a km0 verrà servita al
            tavolo o in terrazza, nel rispetto delle nuove normative. <br />
            <strong
              >Possibilità di richiedere la colazione in camera con un piccolo
              extra.</strong
            >
          </p>
          <p>
            Inizia la tua giornata con una
            <strong style="color: #dc3545">colazione sana e gustosa</strong> che
            celebra i sapori locali!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card text-center service-card">
        <div class="card-body">
          <i class="bi bi-wifi service-icon"></i>
          <p class="card-text">WI-FI GRATUITO</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center service-card">
        <div class="card-body">
          <i class="bi bi-car-front service-icon"></i>
          <p class="card-text">PARCHEGGIO</p>
        </div>
      </div>
    </div>
  </div>
</div>
